<div class="ponto-container">
  <!-- Novo header para o nome do app -->
  <header class="app-header">
    <h1>APPT</h1> <!-- Altere para o nome do seu app -->
  </header>

  <header class="ponto-header">
    <h1>Ponto Eletrônico</h1>
    <button class="logout-button">Logout</button>
  </header>

  <section class="ponto-main">
    <div class="card">
      <h2>Bater Ponto</h2>
      <button class="ponto-button" (click)="baterPonto()">Registrar Ponto</button>
      <p id="ponto-msg"></p> <!-- Mensagem de confirmação -->
    </div>
  
    <div class="card">
      <h2>Último Ponto Registrado:</h2>
      <div id="ultimo-ponto" style="font-weight: bold;">{{ ultimoPonto }}</div>
    </div>
  </section>

  <footer class="ponto-footer">
    <p>&copy; 2024 Sua Empresa</p>
  </footer>
</div>
